<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Share You Career Change Story</title>
</head>

<!--Nav-->
<nav class="navbar navbar-expand-lg bg-primary navbar-dark py-3 justify-content-center">
    <div class="container">
        <a href="/" class="navbar-brand">Career Change Motivation</a>
    </div>
</nav>

<!--Banner-->
<section class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center">
                <h1>Career Change Stories</h1>
                <p class="lead my-4">Learn more about what it takes to make a career change into tech. Here are stories from folx sharing about their transition into tech. </p>
        </div>
    </div>
</section>

<!--Story Tiles-->
<section class="p-5">
    <h2 class="lead text-center">Career Change Stories Shared by Real People</h2>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</section>

<!--Entry Form-->
<!--how many years of experience
where they are located
how long did it take to make the transition
how many interviews/what were your interviews like
why did they choose tech/dev/data vs other careers
-->
<section class="p-5">
    <div class="container">
        <div>
            <h2 class="text-center">Add your story!</h2>
            <p>Share a paragraph or two about how you made the transition to tech. Consider the following questions while writing your story.</p>
            <ul>
                <li>How many years of work experience did you have before you made the transition?</li>
                <li>What inspired the change and how did you know it was the right time?</li>
                <li>How long did it take you to make the transition?</li>
                <li>How many interviews did you do and what were they like?</li>
                <li>How did networking play a role in your transition, if at all?</li>
                <li>How did you learn the tech skills for your new role (bootcamp, self taught, community taught, etc)?</li>
                <li>What part of the world are you located in and how did that impact your career chage (if at all)?</li>
                <li>Finally, why did you choose tech and how are you feeling about it now?</li>
            </ul>
            <form class="p-3" action="/addStory" method="POST">
                <div class="mb-2">
                    <textarea class="form-control" placeholder="Tell your story" name="newStory" required="true" maxlength="3000" rows="3"></textarea>
                </div>
                <select class="form-select" aria-label="Former industry" name="industry" required="true">
                    <option selected>Choose your former industry</option>
                    <option value="Education">Education</option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Hospitality">Hospitality</option>
                    <option value="Engineering">Engineering/Oil & Energy</option>
                    <option value="Finance">Finance/Accounting</option>
                    <option value="RealEstate">Real Estate</option>
                    <option value="Construction">Construction/Automotive/Manufacturing</option>
                    <option value="Retail">Retail/Sales</option>
                    <option value="Government">Government/Military</option>
                    <option value="Communcations">Communications/Marketing</option>
                    <option value="Logistics">Logistics/Supply Chain/Shipping</option>
                    <option value="HumanServices">Human Services/NonProfits</option>
                    <option value="Other">Other</option>
                </select>
                <input class="btn btn-primary m-2" type="submit" value="Submit">
            </form>
        </div>
    </div>
</section>

<section class="p-3 bg-primary text-light text-center">
    <div class="container">
        <h2>Want to see the Career Change to Tech Stats?</h2>
        <a class="btn btn-secondary" href="/" role="button">Visit Stats</a>
    </div>
</section>

<footer class="p-3 bg-dark text-light flex-direction-row">
    <p>&copy 2022 SchipThatCode</p>
    <a class="text-bs-purple" href="https://github.com/rachelschipull/career-motivation" alt="GitHub Repo">GitHub</a>
</footer>

</body>
</html>